[project]
name = "musetalk"
version = "0.1.0"
description = "Metaphysics MuseTalk implementation"
authors = [
    {name = "Sergiu Kopcsa", email = "sergiu.kopcsa.dev@gmail.com"}
]
license = {text = "MIT"}
readme = "README.md"
requires-python = ">=3.11,<3.12"

dependencies = [
    "diffusers==0.30.2",
    "accelerate==0.28.0",
    "numpy>=1.26.0,<2.0.0",
    "tensorflow==2.15.0",
    "tensorboard==2.15.0",
    "opencv-python-headless>=4.8.0,<5.0.0",
    "soundfile==0.12.1",
    "transformers==4.39.2",
    "huggingface_hub==0.30.2",
    "librosa==0.10.1",
    "einops==0.8.1",
    "gradio==5.24.0",
    "gdown",
    "requests",
    "imageio[ffmpeg]",
    "omegaconf",
    "ffmpeg-python",
    "moviepy"
]

[build-system]
requires = ["poetry-core>=2.0.0,<3.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
packages = [
    { include = "musetalk" },
    { include = "scripts" }
]
